<body>
  <!--<div class="Text3">
    <button class="button2" routerLink="/home/create_attraction">
      Dodaj atrakcję
    </button>
  </div>-->

  <div class="white_body">


    <div class="wrapper">
      <div class="attraction-box" *ngFor="let attraction of attractions">
        <div class="attraction-name">
          {{attraction.name}}
        </div>
        <div class="attraction-description">
          {{attraction.description}}
        </div>

        <div class="attraction-place">
          Miejsce: {{attraction.place}}
        </div>

        <div class="icon info" (click)="infoClick(attraction)">
          <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" stroke="currentColor"
            fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info">
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="12" y1="16" x2="12" y2="12"></line>
            <line x1="12" y1="8" x2="12" y2="8"></line>
          </svg>
        </div>
      </div>
    </div>

    <button class="float" routerLink="/home/create_attraction">
      +
    </button>

  </div>

  <div class="attraction_detail" *ngIf="enabled">
    <div class="attraction_header">
      {{attractionSelector.name}}

      <div class="exit" (click)="exitClick()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
          <circle cx="12" cy="12" r="10"></circle>
          <line x1="15" y1="9" x2="9" y2="15"></line>
          <line x1="9" y1="9" x2="15" y2="15"></line>
        </svg>
      </div>
    </div>
    <div class="wrapper2">
      <div class="column">
        <div class="text">
          <label>Opis: </label>
          {{attractionSelector.description}}
        </div>
        <hr>

        <div class="text">
          <label>Miejsce:</label>
          {{attractionSelector.place}}
        </div>
        <hr>
        <div class="text" *ngIf="!isRated(attractionSelector.id)">
          <label>Ocena: </label>
          <ngb-rating [max]="5" [(rate)]="attractionSelector.rating" [readonly]="true"></ngb-rating> <br>
        </div>

        <div class="text" *ngIf="isRated(attractionSelector.id)">
          <form [formGroup]="ratingForm" (ngSubmit)="onSubmit()">
            <label>Ocena: </label>
            <ngb-rating formControlName="rating" [max]="5" [(rate)]="tempRating" [readonly]="false"></ngb-rating> <br>
            <button class="button" type="submit" [disabled]="!ratingForm.valid">Oceń</button>
          </form>
        </div>
      </div>

      <div class="column">
        <agm-map [latitude]="attractionSelector.latitude" [longitude]="attractionSelector.longitude" [zoom]="16"
          [disableDefaultUI]="true">
          <agm-marker [latitude]="attractionSelector.latitude" [longitude]="attractionSelector.longitude"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</body>
