<body>
  <div class="message-box good" *ngIf="showMessage && goodResponse && !badResponse" (click)="onClick()">
    <div class="message-text">
      {{message}}
    </div>
    <div class="close-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-x-lg"
        viewBox="0 0 16 16">
        <path
          d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
      </svg>
    </div>
  </div>
  <div class="message-box bad" *ngIf="showMessage && !goodResponse && badResponse" (click)="onClick()">
    <div class="message-text">
      {{message}}
    </div>
    <div class="close-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-x-lg"
        viewBox="0 0 16 16">
        <path
          d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
      </svg>
    </div>
  </div>

  <div class="white_body">


    <div class="wrapper">
      <div class="attraction-box" *ngFor="let attraction of attractions">
        <div class="attraction-name">
          {{attraction.name}}
        </div>
        <div class="attraction-description">
          <div class="t-rating" *ngIf="attraction.rating != 0">
            <ng-template #t let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">★</span>☆
              </span>
            </ng-template>
            <ngb-rating [max]="5" [(rate)]="attraction.rating" [starTemplate]="t" [readonly]="true">
            </ngb-rating>
          </div>
          <div class="t-rating" *ngIf="attraction.rating == 0">
            Brak ocen
          </div>
        </div>

        <div class="attraction-place">
          Miejsce: {{attraction.place}}
        </div>

        <div class="icon info" (click)="infoClick(attraction)">
          <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" stroke="currentColor"
            fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info">
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="12" y1="16" x2="12" y2="12"></line>
            <line x1="12" y1="8" x2="12" y2="8"></line>
          </svg>
        </div>
      </div>
    </div>

    <button class="float" routerLink="/home/create_attraction">
      +
    </button>

  </div>

  <div class="attraction_detail" *ngIf="enabled">
    <div class="attraction_header">
      {{attractionSelector.name}}

      <div class="exit" (click)="exitClick()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
          <circle cx="12" cy="12" r="10"></circle>
          <line x1="15" y1="9" x2="9" y2="15"></line>
          <line x1="9" y1="9" x2="15" y2="15"></line>
        </svg>
      </div>
    </div>
    <div class="wrapper2">
      <div class="column">
        <div class="text">
          <label>Opis: </label>
          {{attractionSelector.description}}
        </div>
        <hr>

        <div class="text">
          <label>Miejsce:</label>
          {{attractionSelector.place}}
        </div>
        <hr>
        <div class="text" *ngIf="!isRated(attractionSelector.id)">
          <label>Ocena: </label>
          <ngb-rating [max]="5" [(rate)]="attractionSelector.rating" [readonly]="true"></ngb-rating> <br>
        </div>

        <div class="text" *ngIf="isRated(attractionSelector.id)">
          <form [formGroup]="ratingForm" (ngSubmit)="onSubmit()">
            <label>Ocena: </label>
            <ngb-rating formControlName="rating" [max]="5" [(rate)]="tempRating" [readonly]="false"></ngb-rating> <br>
            <button class="button" type="submit" [disabled]="!ratingForm.valid">Oceń</button>
          </form>
        </div>
      </div>

      <div class="column">
        <agm-map [latitude]="attractionSelector.latitude" [longitude]="attractionSelector.longitude" [zoom]="16"
          [disableDefaultUI]="true">
          <agm-marker [latitude]="attractionSelector.latitude" [longitude]="attractionSelector.longitude"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</body>
