<body>

  <div class="Profile_body" *ngIf="isLoggedIn">
    <div class="column">
      <label>Imię i nazwisko:</label>
      <div class="data">
        {{userData.firstName}} {{userData.lastName}}
      </div>
      <hr>
      <label>Adres e-mail:</label>
      <div class="data">
        {{userData.email}}
      </div>
      <hr>
      <label>Data urodzenia:</label>
      <div class="data">
        {{userData.dayOfBirth}}
      </div>
      <hr>
      <label>Wiek:</label>
      <div class="data">
        {{userData.age}}

      </div>


    </div>
    <div class="column">
      <div class="Form">
        <form [formGroup]="editPersonalDataForm" (ngSubmit)="onSubmit()">
          <div class="Form_body">

            <label>Imię: </label><br>
            <input formControlName="firstName" type="text" [(ngModel)]="userData.firstName"><br>
            <div class="validate" *ngIf="firstName.invalid && firstName.touched">
              <small *ngIf="firstName.errors?.required">Imię jest wymagane!</small>
            </div>

            <label>Nazwisko: </label>
            <input formControlName="lastName" type="text" [(ngModel)]="userData.lastName"><br>
            <div class="validate" *ngIf="lastName.invalid && lastName.touched">
              <small *ngIf="lastName.errors?.required">Nazwisko jest wymagane!</small>
            </div>

            <label>Data urodzenia: </label>
            <input formControlName="dayOfBirth" type="date" [(ngModel)]="userData.dayOfBirth"><br><br>
            <button class="button" type="submit">Zmień dane</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</body>