<body>

  <div class="Text3">
    <button class="button2">Profil</button>
    
    <button class="button2">Historia wycieczek</button>
  </div>

  <div class="Profile_body" *ngIf="isLoggedIn">
  <div class="inside">
    <div class="left">Imię i nazwisko:</div>
    <div class="right"> {{userData.firstName}} {{userData.lastName}}</div>
    <div class="left">E-mail:</div>
    <div class="right">{{userData.email}}</div>
    <div class="left">Data urodzenia:</div>
    <div class="right">{{userData.dayOfBirth}}</div>
    <div class="left">Wiek:</div>
    <div class="right">{{userData.age}}</div>
  </div>
  <hr>


  <button class="button" (click)="openEditPanel()">
    Edytuj
  </button>


  <div class ="Form" *ngIf="isEditPanelClicked">
    <div class="Text3">Zmień swoje dane</div>
    
    <form [formGroup]="editPersonalDataForm" (ngSubmit)="onSubmit()">
      <div class="Form_body">


        <input formControlName="firstName" type="text" placeholder="Wpisz swoje imię" ><br>
        <input formControlName="lastName" type="text" placeholder="Wpisz swoje nazwisko" ><br>
        <input formControlName="dayOfBirth"  type="date"><br><br>
        <button class="button" type="submit" >Zmień wprowadzone dane</button>
      </div>
    </form>

  </div>

</div>
</body>


