html {
   height: 100%;
}

body {
  background: #aaa;
  margin: 0;
  padding: 0;
  font-family: arial, verdana, sans-serif;
  overflow-y: scroll;
}


.Top {
  background-image: url(http://localhost:8080/images/getBackground);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  color: #ffffff;
  background-color: #aaa;
}


.AppName {
  text-align: left;
  margin-left: 2em;
}

.Name_start {
  font-family: 'Alata';
  font-style: italic;
  /* font-size: 60px; */
  font-size: 2rem;
  margin: 0;
}

.Caption_start {
  font-family: 'Roboto';
  font-weight: 100;
  /*font-style: italic;*/
  /* font-size: 24px; */
  font-size: 1rem;
  letter-spacing: 0.3em;
  margin-left: 0.3em;
}

/* .Container {
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
} */

.Container {
  display: flex;
  justify-content: space-between;
  margin-top: 8em;
  margin-left: 5%;
  margin-right: 5%;
}


/* .Start_text {
      display: flex;
      flex-direction: column;
      align-items: center;
} */

.Start_text {
  width: 70%;
}

.Main_text {
  font-family: 'Alata';
  /* font-size: 60px; */
  font-size: 2.75rem;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.2em;
  margin: 0.2em 0;
}
.Sub_text {
  width: 100%;
  font-family: 'Roboto';
  font-weight: 100;
  /* font-size: 36px; */
  font-size: 2rem;
  letter-spacing: 0.1em;
  /*margin-bottom: 1.5em;*/
  text-align: left;
}


.Buttons {
  width: 25%;
  margin: 1em 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  align-items: center;
  /*grid-template-rows: 1fr 1fr;*/
}

.Button {
  /*background-color: #BDB4AE;*/
  width: 10em;
  height: fit-content;
  background-color: #15588E;
  box-sizing: border-box;
  border: 3px solid #15588E;
  border-radius: 20px;
  /* font-style: italic; */
  /* font-size: 1.75rem; */
  /* font-family: 'Alegreya Sans', sans-serif; */
  /* font-family: 'Roboto' sans-serif;
  font-weight: 100; */

  font-family: 'Roboto';
  font-size: 1.75rem; 
  font-weight: 100;
  /* font-style: italic; */
  /* font-stretch: condensed; */

  color: #ffffff;
  text-decoration: none;
  padding: 0.25em 1.25em;
  border: 2px solid #15588E;
}

  .Button:hover {
    background-color: #6582be;
    border: 2px solid #6582be;
  }


@media (max-width: 1300px) {
  .Container {
        margin-top: 6em;
  }
}

@media (max-height: 730px) {
      .Container {
            margin-top: 5em;
      }

      .Main_text {
            font-size: 2rem;
      }
      .Sub_text {
            font-size: 1.5rem;
      }
      .Button {
            font-size: 1.25rem;
      }
}

@media (max-height: 730px) and (max-width: 850px) {
      .Container {
            margin-top: 0;
      }
}


.Bottom {
  background-color: #aaaaaa;
  width: 100%;
  /*height: 45%;*/
  text-align: center;
  min-height: 40vh;
}

.Lighter {
  background-color: #fff;
  margin: auto;
  width: 80%;
  padding-top: 4%;
  padding-bottom: 4%;
  min-height: 40vh;
  box-shadow: 0px 3px 6px black;
}

.Block {
  /* width: 600px; */
  display: flex;
  justify-content: center;
  margin: auto 0;
}
.Column {
  width: 20em;
  margin: 0 4em;
  color: #000000;
}
.text1 {
  font-family: 'Alata';
  font-size: 2rem;
  font-weight: bold;
  margin: 0.75em 0;
  /* //font-style: italic; */
}

.text2 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}


.box-info {
  margin-inline: auto;
  width: 90%;
  margin-bottom: 6%;
  background-color: #e6e6e6;
  border-radius: 25px;
  box-shadow: 0 3px 6px #aaaaaa;
}

.box-detail {
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
}

.box {
  width: 30%;
  height: max-content;
  margin-inline: 3%;
}

.box-header {
  font-family: 'Alata';
  color: #000000;
  font-size: 2.5rem;
}

.box-icon {
  fill: #15588E;
  margin: auto;
  width: 3rem;
  height: 3rem;
}

.box-head {
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}

.box-body {
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'Roboto';
  font-weight: 300;
  text-align: center;
  font-size: 1rem;
  margin-inline: 14%;
}

.footer {
  width: 100%;
  background-color: #104169;
  padding-bottom: 1%;
}

.pad {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.AppName-footer {
  color: #ffffff;
  margin-inline: auto;
}

.name-footer {
  font-size: 3rem;
}

.capt-footer {
  font-size: 1.2rem;
}

.cols {
  display: flex;
  margin-inline: 15%;
}

.col {
  width: 30%;
  margin-inline: 3%;
}

.txt1 {
  font-family: 'Roboto';
  font-weight: 500;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

.txt2 {
  font-family: 'Roboto';
  font-weight: 200;
  color: #fff;
  font-size: 1.2rem;
  text-align: justify;
}

.link-icon {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 1%;
  color: #fff;
}

a {
  font-family: 'Roboto';
  font-weight: 300;
  color: #fff;
  font-size: 1.2rem;
}
*/
  a:hover, a.focus {
    color: #ffffff;
    text-decoration: underline  white;
  }