<body>
    <div class="Top">
      <div class="AppName">
        <div class="Name_start">Tuziemiec</div>
        <div class="Caption_start">Spotkajmy się!</div>
      </div>
    
      <div class="Container">
        <div class="Start_text">
          <div class="Main_text">
            Odkryj mało znane szlaki<br>
            w twoich ulubionych miejscach
          </div>

          <div class="Sub_text">
            Dołącz do nas i zacznij odkrywać miejsca<br>
            o których nie miałeś pojęcia!
          </div>
        </div>
        <div class="Buttons">
          <a class="Button" routerLink="/login">Zaloguj się</a>
          <a class="Button" routerLink="/register">Zarejestruj się</a>
        </div>
      </div>
    </div>
    
    
    <div class="Bottom">
    
      <div class="Lighter">
    
    
          <div class="Block">
            <div class="Column">

              <div class="text1">
                Zwiedzaj
              </div>
    
              <div class="text2">
                Znudziły Cię powszechne atrakcje?<br>
                <strong>Poznawaj</strong> nowe szlaki dzięki
                lokalnym przewodnikom. <br>
                <strong>Nawiązuj</strong> nowe znajomości na
                przyszłość.
              </div>
            </div>
          <!--</div>
    
          <div class="Block">-->
            <div class="Column">
              <div class="text1">
                Organizuj
              </div>

              <div class="text2">
                Jesteś zapalonym odkrywcą i znasz miejsca,
                o których inni nie mają pojęcia?<br>
                <b>Zorganizuj</b> wycieczkę i pokaż innym to,
                czego jeszcze nie widzieli!<br>
                Zabierz innych na wycieczkę w swoim
                <b>unikalnym stylu</b>!
              </div>
            </div>
          </div>
    
        </div>
    </div>
</body>
