<body>
  <div style="width: 100%; display: table;">
    <div style="display: table-row">

      <div class="Header">
        <div class="Name">Tuziemiec</div>
        <div class="Caption">Spotkajmy się!</div>
      </div>

      <div class="Error" *ngIf="isLoggedIn">
        Lista atrakcji
      </div>

      <div class="Error" *ngIf="!isLoggedIn">
        ZALOGUJ SIĘ ŻEBY KORZYSTAĆ Z FUNKCJONALNOŚCI!
      </div>

      <div class="Options" *ngIf="isLoggedIn">
        <div>
          <button class="button" routerLink="/main">Wstecz</button>
          <!-- <button class="button" routerLink="/" (click)="logout()">Wyloguj się</button> -->
        </div>
      </div>


      <div class="Back_button" *ngIf="!isLoggedIn">
        <button class="button" routerLink="/">Strona główna! </button>
      </div>

    </div>
  </div>

  <div class="Text3">
    <button class="button2" routerLink="/create_attraction">
      Dodaj atrakcję
    </button>
  </div>

  <div class="white_body">


    <div class="wrapper">
      <div class="attraction-box" *ngFor="let attraction of attractions">
        <div class="attraction-name">
          {{attraction.name}}
        </div>
        <div class="attraction-description">
          {{attraction.description}}
        </div>

        <div class="attraction-place">
          Miejsce: {{attraction.place}}
        </div>

        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" stroke="currentColor"
            fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info">
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="12" y1="16" x2="12" y2="12"></line>
            <line x1="12" y1="8" x2="12" y2="8"></line>
          </svg>
        </div>
      </div>
    </div>

  </div>

</body>