<body>

  <div class="Text4">
    <input type="text" class="Search" (keydown.enter)="$event.preventDefault()" placeholder="Wyszukaj miejsce"
      autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
  </div>


  <div class="message-box good" *ngIf="showMessage && goodResponse && !badResponse" (click)="onClick()">
    {{message}}
  </div>

  <div class="message-box bad" *ngIf="showMessage && !goodResponse && badResponse" (click)="onClick()">
    {{message}}
  </div>

  <div class="wrapper" *ngIf="isLoggedIn">
    <div class="map">
      <agm-map [latitude]="lat" [longitude]="lon" [zoom]="zoom" [disableDefaultUI]="true">
        <agm-marker [latitude]="lat" [longitude]="lon" [markerDraggable]="true" (dragEnd)="getPosition($event)">
        </agm-marker>
      </agm-map>
    </div>

    <div class="Form">
      <form [formGroup]="attractionForm" (ngSubmit)="onSubmit()">
        <div class="Form_body">
          <div>
            <input formControlName="name" type="text" placeholder="Wpisz nazwę atrakcji"><br>
            <div class="validate" *ngIf="name.invalid && name.touched">
              <small *ngIf="name.errors?.required">Nazwa atrakcji jest wymagana</small>
            </div>

            <input formControlName="place" type="text" placeholder="Wpisz miejsce"><br>
            <div class="validate" *ngIf="place.invalid && place.touched">
              <small *ngIf="place.errors?.required">Miejsce atrakcji jest wymagane</small>
            </div>

            <textarea formControlName="description" type="text" placeholder="Wpisz opis atrakcji"></textarea>
            <div class="validate" *ngIf="description.invalid && description.touched">
              <small *ngIf="description.errors?.required">Opis atrakcji jest wymagany</small>
            </div>
          </div>

          <button class="Submit_button" type="submit" [disabled]="!attractionForm.valid">
            Stwórz atrakcję
          </button>

        </div>


      </form>
    </div>


  </div>
</body>