html {
    background-color: #9facb9;
}

body {
    background-color: #9facb9;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.4fr 0.4fr;
    margin:auto;
    width: 100%;
    justify-content: center;
}

.Text {
    text-align: center;
    font-family: 'Alata';
    font-size: 30px;
    margin-bottom: 2%;
}

.link {
  cursor: pointer;
}

.link:hover {
  color: #104169;
}

.table-header {
    text-align: center;
    font-family: 'Alata';
    font-size: 30px;
    margin-bottom: 2%;
    margin-top: 2%;
}

.table-cell {
    text-align: center;
    margin: 2%;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: black;
}

.icons {
    display: inline-block;
}

.icon {
    margin-inline: 0.4rem;
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
}

.right {
    top: 4%;
    right: 4%;
    position: absolute;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}
.blurred {
  width: 100%;
  height: 100%;
  filter: blur(2px);    
}
.not-blurred {
  width: 100%;
  height: 100%;
  filter: none;
}

.comment-form {
    border-radius: 35px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    width: 50vw;
    height: 45vh;
    z-index: 1;
    background-color: #bdb4ae;

    
}

.Form_title {
    height: 12vh;
    font-family: 'Alata';
    font-size: 3.17vh;
    padding: 1.98vh;
    text-align: center;
    background-color: #4F565C;
    border-radius: 35px 35px 0 0;
    color: white;

  }

  input[type=text], textarea {
    border-radius: 30px;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.98vh;
    text-align: center;
    background-color: #ded9d5;
    width: 40vw;
    padding: 12px 1.18vh;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ded9d5;
    outline: none;
  }

  .Button:enabled {
    width: 10.41vw;
    height: 4.95vh;
    background-color: #4F565C;
    box-sizing: border-box;
    border: 3px solid #4F565C;
    border-radius: 20px;
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
  }

  .Button:disabled {
    width: 10.41vw;
    height: 4.95vh;
    opacity: 50%;
    background-color: #4F565C;
    box-sizing: border-box;
    border: 3px solid #4F565C;
    border-radius: 20px;
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
    font-size: 24px;
    color: #ffffff;
  }

  .Button:active {
    background-color: #104169;
    border: 3px solid #104169;
  }
  
  .Button:focus {
    outline: 0;
  }

  .validate{
    color: #9e2a2b;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
}

ngb-rating {
    font-size: 40px;
    color: #104169;
  }