body {
  background-color: #aaaaaa;
}

.panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 4em;
  background-color: #104169
  /* background-color: ; */
  
}

.logo {
  color: #ffffff;
  text-align: left;
  margin-left: 1em;
}

.main-text {
    font-family: 'Alata', sans-serif;
    font-style: italic;
    font-size: 1.75rem;
    margin: 0;
}

.sub-text {
  font-family: 'Roboto';
  font-weight: 200;
  font-style: italic;
  font-size: 0.75rem;
  letter-spacing: 0.25em;
  margin-left: 0.3em;
  
}

.button {
    position: relative;
    top: 0.5em;
    width: 9em;
    height: 2.5em;
    font-size: 1rem;
    margin: auto;
    stroke: #ffffff;
    color: #ffffff;
    font-family: 'Alata', sans-serif;
    background-color: transparent;
    cursor: pointer;
}

.button:hover {
    border-bottom: 3px solid #fff;
    color: #fff;
    transition: border-bottom 100ms ease-in-out, 
                color 0.1s ease-in-out;
}

.active {
  border-bottom: 3px solid #fff;
  cursor: default;
}


.text{
    position: absolute;
    bottom: 0.5em;
    right: 0;
}


.icon {
    position: absolute;
    bottom: 0.5em;
    width: 2em;
    height: 1.5em;
}


@media (max-width: 999px) {

  .text {
    display: none;
  }

  .button {
    width: 2em;
    border-bottom: 0;
  }
    .button:hover {
      border-bottom: 3px solid #ffffff;
    }

  .active {
    border-bottom: 3px solid #ffffff;
  }

    .active:hover {
      border-bottom: 3px solid #ffffff;
    }
}


.panel-body {
    width: 100%;
    background-color: inherit;
    min-height: 90vh;
}

.message {
  text-align: center;
  margin-inline: auto;
  padding: 2em;
  margin-top: 7em;
  height: 7em;
  width: 80%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  background-color: #5990af;
  border-radius: 25px;
  border: 5px dotted #4a7496;
  box-shadow: 5px 5px 20px #4a7496;
  color: #f4f4f9;
}
@media (max-width: 490px) {
      .message {
            height: auto;
      }
}
