<body>
    <div class="message-box good" *ngIf="showMessage && goodResponse && !badResponse" (click)="onClick()">
        <div class="message-text">
            {{message}}
        </div>
        <div class="close-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor"
                class="bi bi-x-lg" viewBox="0 0 16 16">
                <path
                    d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
            </svg>
        </div>
    </div>
    <div class="message-box bad" *ngIf="showMessage && !goodResponse && badResponse" (click)="onClick()">
        <div class="message-text">
            {{message}}
        </div>
        <div class="close-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor"
                class="bi bi-x-lg" viewBox="0 0 16 16">
                <path
                    d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
            </svg>
        </div>
    </div>

    <div class="Text" *ngIf="incomingTrips.length == 0">
        Nie jesteś zapisany do żadnej wycieczki!
    </div>

    <div *ngIf="incomingTrips.length != 0">
        <div class="wrapper">
            <div class="table-header">Nazwa</div>
            <div class="table-header">Miejsce</div>
            <div class="table-header">Data wycieczki</div>
            <div class="table-header">Ilość osób</div>
            <div class="table-header">Ocena</div>
            <div class="table-header"></div>
        </div>
        <hr>
        <div *ngFor="let trip of incomingTrips">
            <div class="wrapper">
                <div class="table-cell link" [routerLink]="['/home/trip', trip.id]"><b>{{trip.template.name}}</b></div>
                <div class="table-cell">{{trip.template.place}}</div>
                <div class="table-cell">{{trip.startDate}} - {{trip.endDate}}</div>
                <div class="table-cell">{{trip.booking}} / {{trip.userLimit}}</div>
                <div class="table-cell">{{trip.template.rating}}</div>
                <div class="table-cell icons">
                    <div class="icon" (click)="removeCurrentUserFromTrip(trip.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-user-x">
                            <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                            <circle cx="8.5" cy="7" r="4"></circle>
                            <line x1="18" y1="8" x2="23" y2="13"></line>
                            <line x1="23" y1="8" x2="18" y2="13"></line>
                        </svg>
                    </div>
                    <!-- <div class="icon">
                        <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        fill="currentColor" 
                        class="bi bi-people-fill" 
                        viewBox="0 0 16 16">
                            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                          </svg>
                    </div> -->
                </div>
            </div>
        </div>
    </div>



</body>