body {
    background-color: inherit;
}
.white-body {
  background-color: #ffffff;
  box-shadow: 0px 3px 6px black;
  text-align: center;
  margin: auto;
  width: 80%;
  /* height: max-content; */
  min-height: 94vh;
  /* height: 88%; */
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.template-box {
  background-color: #E6E6E6;
  border: 3px;
  border-radius: 20px;
  width: 25%;
  margin: 1em 2.75em;
  box-shadow: 0px 3px 6px black;
}

.image {
  background-color: #15588E;
  padding: 1%;
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1320px) {
  /*.wrapper {
            align-items: none;
            justify-content: space-evenly;
      }*/
  .template-box {
    width: 40%;
  }
}

@media (max-width: 1120px) {
  .wrapper {
    justify-content: center;
  }

  .template-box {
    width: 80%;
  }
}

.template-name {
  border-radius: 20px 20px 0 0;
  background-color: #15588E;
  font-family: 'Alata';
  font-size: 1.5rem;
  color: #f4f4f9;
}

.template-place {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.25rem;
  color: #404040;
}
.template-rating {
  height: 3em;
  margin: auto;
}

.template-atrractions {
  font-family: 'Roboto';
  font-weight: 400;
  text-align: center;
  font-size: 1.25rem;
  color: #404040;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #B8A17D;
}

.full {
  color: #B8A17D;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #B8A17D;
}

.float {
  font-size: 2rem;
  position: fixed;
  width: 2.5em;
  height: 2.5em;
  bottom: 1.5em;
  right: 1.5em;
  background-color: #294f6d;
  color: #F4F4F9;
  border-radius: 50%;
  border: none;
  text-align: center;
  box-shadow: 4px 5px 5px #67676d;
}

  .float:hover {
    background-color: #4a7496;
    border: none;
  }


.float:hover::after {
  font-size: 1rem;
  content: "Stwórz szablon";
  font-family: 'Roboto';
  font-weight: 400;
  display: block;
  position: absolute;
  top: 2em;
  width: 9em;
  color: #f4f4f9;
  text-align: center;
  border-radius: 6px;
  padding: 0.25em 0;
  left: 50%;
  margin-left: -12em;
  background: #67676d;
}

.icon {
  width: 2rem;
  height: 2rem;
  stroke: #67676d;
  margin-inline: 5%;
  margin-bottom: 2%;
  margin-top: 2%;
  cursor: pointer;
}

.editor {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  position: fixed;
  top: 10%;
  height: max-content;

  border-radius: 35px;
  padding-bottom: 2%;
  z-index: 1;
  background-color: #e6e6e6;
  box-shadow: 0px 3px 6px black;
}

.editor-header {
  height: 8vh;
  font-family: 'Alata';
  font-size: 3.17vh;
  padding: 1.98vh;
  text-align: center;
  background-color: #15588E;
  border-radius: 35px 35px 0 0;
  color: white;
}
input[type=file]{
  cursor: pointer;
  text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

  input[type=file]::file-selector-button{
    background-color: #15588E;
    box-sizing: border-box;
    border: 3px solid #15588E;
    border-radius: 20px;
    font-family: 'Roboto';
    font-weight: 200;
    color: #ffffff;
    cursor: pointer;
  }

  input[type=file]::file-selector-button:hover{
    background-color: #1b74bd;
    box-sizing: border-box;
    border: 3px solid #1b74bd;
    border-radius: 20px;
    font-family: 'Roboto';
    font-weight: 200;
    color: #ffffff;
    cursor: pointer;
  }

textarea{
    border-radius: 20px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    background-color: #ffffff;
    width: 80%;
    margin-inline: 10%;
    height: 20%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

  .button {
    width: 10em;
    background-color: #15588E;
    box-sizing: border-box;
    border: 3px solid #15588E;
    border-radius: 20px;
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
  }
  
    .button:hover {
      background-color: #15588E;;
      border: 3px solid #15588E;;
    }
    .button:active {
      background-color: #15588E;;
      border: 3px solid #15588E;;
    }

    .button:disabled {
      opacity: 50%;
      cursor: default;
    }
    
    .button:focus {
      outline: 0;
    }

    label {
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 20px;
      margin-left: 10%;
    }

    .center {
      text-align: center;
      margin-top: 1%;
  
    }
  
    .icon-right {
      display: inline-block;
      width: 1.4rem;
      height: 1.4rem;
      cursor: pointer;
      top: 4%;
      right: 4%;
      position: absolute;
    }
    
    .message-box {
      display: flex;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 1.2rem;
      padding: 1%;
      top: 0;
      text-align: center;
      border-radius: 5px;
      margin-left: 40%;
      margin-right: 40%;
      position: fixed;
      z-index: 500;
      width: 20vw;
      height: min-content;
      box-shadow: 0 0 6px black;
      cursor: pointer;
    }
  
    .message-text {
      width: 90%;
    }
  
    .good {
      background-color: #dbfae0;
      bottom: 0;
    }
  
    .bad {
      background-color: #f3baba;
      bottom: 0;
    }