html {
    background-color:  inherit;
  }
  
  body {
    height: auto;
    min-height: 100%;
    background-color:  inherit;
    margin: 0;
    padding: 0;
    font-family: arial, verdana, sans-serif;
  }
  

  .Function-buttons{
    background-color: #BDB4AE;;
    padding: 1%;
    text-align: center;
  }

  .button2 {
    width: 200px;
    margin-left: 1%;
    margin-right: 1%;
    height: 50px;
    background-color: #ae978b;
    box-sizing: border-box;
    border: 3px solid #ae978b;
    border-radius: 20px;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 24px;
    color: #000000;
    cursor: pointer;
  }

  .button2:active {
    background-color: #104169;
    border: 3px solid #104169;
  }
  
  .button2:focus {
    outline: 0;
  }

  .panel {
      margin: auto;
      width: 80%;
      min-height: 50vh;
      background-color: #CDD1CD;
      border-radius: 0 0 20px 20px;
      -webkit-box-shadow: 0 8px 6px -6px black;
      -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;
  }
