html {
    background-color:  inherit;
  }
  
  body {
    height: auto;
    min-height: 100%;
    background-color:  inherit;
    margin: 0;
    padding: 0;
    font-family: arial, verdana, sans-serif;
  }
  .nav {
    background-color: #15588E;
    width: 100vw;
    text-align: center;
  }

  .Function-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    background-color: #15588E;
    padding: 0.5em;
    margin: auto;
    text-align: center;
  }

.button2 {
  width: 200px;
  margin: 0 1em;
  height: 2em;
  background-color: #15588E;
  box-sizing: border-box;
  border: 3px solid #15588E;
  border-radius: 20px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

  .button2:active {
    background-color: #15588E;
    border: 3px solid #15588E;
  }
  
  .button2:focus {
    outline: 0;
  }

.panel {
  margin: auto;
  width: 80%;
  min-height: 50vh;
  background-color: #e6e6e6;
  border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.inactive {
  font-family: 'Alata';
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
  border-bottom: 3px solid #15588E;
}

.inactive:hover {
  border-bottom: 3px solid white;
  transition: border-bottom 100ms ease-in-out, 
                color 0.1s ease-in-out;
}

.active {
  font-family: 'Alata';
  font-size: 1.5em;
  color: #fff;
  border-bottom: 3px solid white;
}
