html {
    background-color:  inherit;
  }
  
  body {
    height: auto;
    min-height: 100%;
    background-color:  inherit;
    margin: 0;
    padding: 0;
    font-family: arial, verdana, sans-serif;
  }
  

  .Function-buttons{
    background-color: #5990af;
    padding: 0.5em;
    text-align: center;
  }

.button2 {
  width: 200px;
  margin: 0 1em;
  height: 2em;
  background-color: #294f6d;
  box-sizing: border-box;
  border: 3px solid #294f6d;
  border-radius: 20px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

  .button2:active {
    background-color: #4a7496;
    border: 3px solid #4a7496;
  }
  
  .button2:focus {
    outline: 0;
  }

.panel {
  margin: auto;
  width: 80%;
  min-height: 50vh;
  background-color: #ded9d5;
  border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
