<body>
    <div class="Trip-details shadow">
        <div class="Text3">{{trip.template.name}}</div>


        <div class="wrapper2">
            <div class="trip">
                <div class="description">
                    "{{this.trip.template.description}}"
                </div>
                <hr>

                <div class="wrapper">
                    <div class="Text1">Miejsce: </div>
                    <div class="Text2"> {{this.trip.template.place}} </div>

                    <div class="Text1">Data: </div>
                    <div class="Text2">{{this.trip.startDate}} - {{this.trip.endDate}} </div>

                    <div class="Text1">Ocena:</div>
                    <div class="Text2">
                        <ng-template #t let-fill="fill">
                            <span class="star" [class.full]="fill === 100">
                                <span class="half" [style.width.%]="fill">★</span>☆
                            </span>
                        </ng-template>
                        <ngb-rating [max]="5" [(rate)]="trip.template.rating" [starTemplate]="t" [readonly]="true">
                        </ngb-rating>
                    </div>

                    <div class="Text1">Ilość miejsc:</div>
                    <div class="Text2"> {{this.trip.booking}} / {{this.trip.userLimit}} </div>

                    <div class="Text1">Atrakcje:</div>
                    <div class="Text2">
                        <div *ngFor="let att of this.trip.template.attractions">
                            {{att.name}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="map">
                <agm-map [latitude]="trip.template.attractions[0].latitude"
                    [longitude]="trip.template.attractions[0].longitude" [zoom]="14" [disableDefaultUI]="true" >
                    <div *ngFor="let attraction of trip.template.attractions">
                        <agm-marker [latitude]="attraction.latitude" [longitude]="attraction.longitude"></agm-marker>
                    </div>
                </agm-map>
            </div>

        </div>

    </div>

    <div class="Trip-comments shadow">
        <div class="Text3">
            Komentarze i oceny
        </div>
        <div *ngFor="let rev of reviews">
            <div class="Comment">
                <div class="col1 ">
                    <b> Użytkownik: {{rev.participation.userId}} </b><br>
                    Dodano: {{rev.commentDate}}
                </div>

                <div class="col2">
                    <!-- {{rev.rating}} -->
                    <div class="comment-header">
                        {{rev.commentHeader}}
                    </div>
                    <div class="comment-body">
                        {{rev.commentBody}}
                    </div>
                </div>

                <div class="col3 ">
                    <ngb-rating [max]="5" [(rate)]="rev.rating" [readonly]="true"></ngb-rating> <br>
                    Uczestniczył: <br>
                    {{rev.participation.startDate}}
                </div>
            </div>
            <hr>
        </div>
    </div>
</body>