html {
    background-color:  inherit;
  }
  
  body {
    height: auto;
    min-height: 100%;
    background-color:  inherit;
    margin: 0;
    padding: 0;
    font-family: arial, verdana, sans-serif;
  }



/* body {
  position: relative;
  min-height: 100%;
  background: #a6b3ae;
  margin: 0;
  padding: 0;
  font-family: arial, verdana, sans-serif;
} */



.Trip-details {
  text-align: center;
  margin-inline: auto;
  width: 80%;
  border-radius: 0px 0px 35px 35px;
  background-color: #e6e6e6;
  margin-bottom: 1%;
}

  .Trip-comments{
    background: #e6e6e6;
    text-align: center;
    margin-inline: auto;
    width: 70%;
  }
  
  .Comment{
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 0.5fr 0.5fr;
    margin-top: 0.5%;
  }

  .col1 {
    margin: auto;
  }

  .col3 {
    margin: auto;
  }


  .col4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .icon {
    cursor: pointer;
    margin-top: 30%;
    width: 2rem;
    height: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  }

  .red {
    stroke: red;
    color: rgb(139, 0, 0);
  }

  .green {
    stroke: green;
    color: rgb(8, 77, 8);
  }

  .comment-header {
    font-family: 'Alata';
    text-align: left;
    font-size: 30px;
    color: #353535;
  }

.comment-body {
  font-family: 'Roboto';
  font-weight: 300;
  text-align: justify;
  font-size: 1.25rem;
  color: #404040;
}

.Text1 {
  font-family: 'Alata';
  font-weight: bolder;
  text-align: left;
  font-size: 1.25rem;
  color: #404040;
}

  .Text2 {
    font-family: 'Roboto';
    font-weight: 400;
    text-align: center;
    font-size: 1.25rem;
    color: #404040;
  }

.Text3 {
  text-align: center;
  background-color: #15588E;
  color: #ffffff;
  font-family: 'Alata';
  /* margin-top: 1.5%; */
  padding: 0.5em;
  font-size: 1.5rem;
}

  .Text4 {
    text-align: center;
    background-color: #4f565c;
    color: #ffffff;
    font-family: 'Alata';
    padding: 0.75%;
    font-size: 25px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:auto;
    width: 60%;
    justify-content: left;
}

.shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.description {
  font-family: 'Roboto';
  font-weight: 300;
    font-size: 1.5rem;
    margin: 1em;
}

hr {
    color: black;
    opacity: 100%;
}

ngb-rating {
  font-size: 1.75em;
  color: #B8A17D;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 1.75rem;
  color: #B8A17D;
}
.full {
  color: #B8A17D;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #B8A17D;
}

.wrapper2 {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
}

agm-map {
  height: 100%;
}

.button {
  margin: auto;
  background-color: #15588E;
  width: 10em;
  margin-bottom: 2%;
  font-family: 'Roboto';
  font-weight: 200;
  font-size: 2rem;
  color: #ffffff;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: #426cc9;
}

.message-box {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.5rem;
  padding: 1%;
  bottom: 0;
  text-align: center;
  border-radius: 25px 25px 0 0;
  margin-left: 40vw;
  margin-right: 40vw;
  position: fixed;
  z-index: 500;
  width: 20vw;
  height: 8vh;
  
  box-shadow: 0 0 6px black;
  cursor: pointer;
}

.good {
  background-color: #b7fdc3;
  bottom: 0;
}

.bad {
  background-color: #f3baba;
  bottom: 0;
}
