<body>
<div style="width: 100%; display: table;">
    <div style="display: table-row">

      <div class="Header">
        <div class="Name">Tuziemiec</div>
        <div class="Caption">Spotkajmy się!</div>
      </div>

      <div class="Header_text" *ngIf="isLoggedIn">
        Tworzenie nowej wycieczki
      </div>

      <div class="Header_text" *ngIf="!isLoggedIn">
        Zaloguj się aby stworzyć wycieczkę!
      </div>

      <div class="Options">
        <div>
            <button class="Button" routerLink="/main">Strona główna </button>
            <!-- <a href class="logout_btn" (click)="logout()">Wyloguj się</a> -->
        </div>
      </div>
    </div>
  </div>
  
  <div class="center" *ngIf="step_1">

    <div class="Text3">
      Wybierz szablon:
    </div>

    <div class="Text" *ngIf="userTemplateList.length==0">
      Nie masz żadnego szablonu.
      <div class="router" routerLink="/create_template">
        Kliknij tutaj aby dodać nowy szablon!
      </div> 
    </div>

    <div class="template-list" *ngFor="let template of userTemplateList">
      <div class="template">
        <div class="template-name" (click)="onSelect(template.name)">{{template.name}}</div>
        <div class="template-details">{{template.place}}</div>
      </div>
    </div>

    <div style="margin-top: 2%;">
      <button class="button"  [disabled]="selectedTemplate.match('none')" (click)="onClick()">Dalej</button>
    </div>

    <div class="Text" *ngIf="userTemplateList.length!=0">
      <div class="router" routerLink="/create_template">
        Kliknij tutaj aby dodać nowy szablon!
      </div> 
    </div>

  </div>

  <div class="center" *ngIf="step_2">
    <div class="Text3">
      Uzupełnij dane
    </div>

    <div class="Form" *ngIf="isLoggedIn">
      <form [formGroup]="createTrip" (ngSubmit)="onSubmit()">
        <div class="Form_body">
          <div *ngIf="!isSubmit">
      
            <input formControlName="startDate" type="date"><br>
            <div class="validate" *ngIf="startDate.invalid && startDate.touched">
                <small *ngIf="startDate.errors?.required">Data startowa jest wymagana</small>
            </div>
  
            <input formControlName="endDate" type="date"><br>
            <div class="validate" *ngIf="endDate.invalid && endDate.touched">
                <small *ngIf="endDate.errors?.required">Data końcowa jest wymagana</small>
            </div>
  
            <input formControlName="userLimit" type="number" placeholder="Określ liczbę użytkowników"><br>
            <div class="validate" *ngIf="userLimit.invalid && userLimit.touched">
              <small *ngIf="userLimit.errors?.required">Limit użytkowników jest wymagany</small>
          </div>
          </div>
  
          <div class="text" *ngIf="isSubmit && !isFailed">
            {{message}}
          </div>
  
          <div class="text validate" *ngIf="isSubmit && isFailed">
            {{message}}
          </div>
          
          <button class="Submit_button" type="button" *ngIf="isSubmit && !isFailed" (click)="reloadPage()">Dodaj kolejną wycieczkę</button>
          <button class="Submit_button" type="button" *ngIf="isSubmit && isFailed" (click)="reloadPage()">Spróbuj ponownie</button>
          <button class="Submit_button" type="submit" [disabled]="!createTrip.valid" *ngIf="!isSubmit">Stwórz atrakcję</button>
        </div>
      </form>
    </div>
  </div>
</body>