body {
    background-color: inherit;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

.greetings {
    background-color: #4A6FBF;
    font-family: 'Alata';
    font-size: 30px;
    text-align: center;
    margin-inline: auto;
}

.link:hover {
    color: navy;
    cursor: pointer;
    text-decoration: underline;
}

.box{ 
    border-radius: 25px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.082);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: #CDD1CD;
    margin: 2%;
    padding: 2%;
    height: 20vh;
}