body {
    background-color: inherit;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
}

.greetings {
    background-color: #15588E;
    font-family: 'Alata';
    font-size: 2rem;
    text-align: center;
    margin-inline: auto;
    color:#fff;
}

.link {
    font-family: 'Roboto';
    font-weight: 300;
}

.link:hover {
    color: navy;
    cursor: pointer;
    text-decoration: underline;
}

.box{ 
    border-radius: 25px;
    position: relative;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.082);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    background-color: #fff;
    margin: 1em;
    padding: 2%;
    min-height: 20vh;
}
