<body>
    <div class="greetings">
        Witaj {{userData.firstName}}!
    </div>

    <div class="wrapper">
    </div>
    <div class="box">
        <div class="box-header">
            Nadchodzące wycieczki: {{incomingCount}}
        </div>
        <!-- <div class="link" [routerLink]="['/home/panel/incoming']">
            Kliknij tutaj aby je wyświetlić!
        </div> -->
        <div class="box-body" id="scroll">
            <div class="trip-card" *ngFor="let trip of incomingTrips" [routerLink]="['/home/trip', trip.id]">
                <img class="photo" [src]="getPhoto(trip.template.name, trip.template.coverPhoto)">
                <!-- <img class="photo" src="'http://localhost:8080/images/getTripPhoto?fileName=' + {{trip.template.name}} + '&tripName=' + "> -->
                <div class="details">
                    <div class="details-name">
                        {{trip.template.name}}
                    </div>
                    <div class="wrap">
                        <div class="details-place">
                            {{trip.template.place}}
                        </div>
                        <div class="details-date">
                            {{trip.startDate | date:'dd.MM.yy' }} r.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="box">
        <div class="box-header">
            Rekomendowane wycieczki:
        </div>
        <div class="box-body" id="scroll">
            <div class="trip-card" *ngFor="let trip of recommendations" [routerLink]="['/home/trip', trip.id]">
                <img class="photo" [src]="getPhoto(trip.template.name, trip.template.coverPhoto)">
                <div class="details">
                    <div class="details-name">
                        {{trip.template.name}}
                    </div>
                    <div class="wrap">
                        <div class="details-place">
                            {{trip.template.place}}
                        </div>
                        <div class="details-date">
                            {{trip.startDate | date:'dd.MM.yy' }} r.

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="box">
        <div class="box-header">
            Nieocenione wycieczki: {{unreviewedCount}} <br>
        </div>
        <div *ngIf="unreviewedCount != 0" class="link" [routerLink]="['/home/panel/past']">
            Kliknij tutaj aby je ocenić!
        </div>

        <div *ngIf="unreviewedCount == 0" class="link" [routerLink]="['/home/trips']">
            Kliknij tutaj aby przeglądać dostępne wycieczki!
        </div>
    </div>
</body>
