body {
    background-color: inherit;
    margin: 0;
    padding: 0;
    font-family: arial, verdana, sans-serif;
  }

.Text4 {
  text-align: center;
  background-color: #BDB4AE;
  color: #f4f4f9;
  font-family: 'Roboto';
  font-weight: 300;
  height: 3em;
}

input[type=text], textarea {
  border-radius: 30px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
  background-color: #fff;
  width: 80%;
  padding: 0.5em 0.75em;
  margin: 0.25em 0;
  box-sizing: border-box;
  border: 3px solid #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.Search {
  height: 1.5em;
  margin-inline: auto;
}
textarea {
  height: 8em;
}

.scrl {
  overflow-y: scroll; /* new */
  height: 65vh;
}

.wrapper {
  display: grid;
  border-radius: 0 0 35px 0;
  grid-template-columns: 0.75fr 1.25fr 1fr;
  width: 80%;
  margin-inline: auto;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.521);
}


.list {
  background-color: #e6e6e6;

  height: 100%;
}


.Text2 {
  text-align: center;
  color: #000;
  font-family: 'Roboto';
  font-weight: 300;
  /* font-style: italic; */
  font-size: 1.5rem;
}


.link {
  cursor: pointer;
}

  .link:hover {
    color: rgba(0, 0, 0, 0.651);
  }


.selected {
  color: rgba(0, 0, 0, 0.651);
  background-color: #aaa;
  border-radius: 20px;
  width: 70%;
  margin: auto;
  letter-spacing: 2px;
}


.map {
  padding: auto;
  background-color: #CDD1CD;
}

agm-map {
  height: 75vh;
}

.Form {
  margin: auto;
  width: 100%;
}

.Form_body {
  text-align: center;
  vertical-align: middle;
  min-height: 75vh;
  border-radius: 0 0 35px 0;
  background-color: #e6e6e6;
}


.validate {
  color: #9e2a2b;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.2rem;

}

.text {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.75rem;
}


.Submit_button {
  background-color: #15588E;
  width: 10em;
  height: 2em;
  box-sizing: border-box;
  border: 3px solid #15588E;
  border-radius: 20px;
  font-family: 'Roboto';
  font-weight: 200;
  font-size: 1.5rem;
  color: #ffffff;
}

  .Submit_button:enabled {
    cursor: pointer;
  }

  .Submit_button:disabled {
    opacity: 50%;
  }

  .Submit_button:active {
    background-color: #15588E;
    border: 3px solid #15588E;
  }

.Text {
  margin-inline: auto;
  padding: 0.2em;
  text-align: center;
  color: #67676d;
  font-family: 'Alata';
  font-size: 1.25rem;
}

.router {
  cursor: pointer;
  transition: color 200ms ease-out 100ms
}

  .router:hover {
    cursor: pointer;
    color: #294f6d;
    text-decoration-line: underline;
  }

  .message-box {
    display: flex;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.2rem;
    padding: 1%;
    top: 0;
    text-align: center;
    border-radius: 5px;
    margin-left: 40%;
    margin-right: 40%;
    position: fixed;
    z-index: 500;
    width: 20vw;
    height: min-content;
    box-shadow: 0 0 6px black;
    cursor: pointer;
  }

  .message-text {
    width: 90%;
  }

  .good {
    background-color: #dbfae0;
    bottom: 0;
  }

  .bad {
    background-color: #f3baba;
    bottom: 0;
  }

textarea.ng-invalid.ng-dirty, input.ng-invalid.ng-dirty {
  border: 3px solid #9e2a2b;
}

.wrapper3 {
  height: 10rem;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

#scroll::-webkit-scrollbar-track
{
	border-radius: 10px;
}

#scroll::-webkit-scrollbar
{
	width: 8px;

}

#scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #585858;
}

.box {
  margin-top: 10%;
  margin-inline: auto;
  width: 4rem;
  border-radius: 20px;
  height: 4rem;
}
.selection{
  /* border: 2px solid #15588E; */
  box-shadow: 0 0 10px #15588E;
}


.image {
  cursor: pointer;
  object-fit: cover;
  border-radius: 20px;
  width: 4rem;
  height: 4rem;
}

input[type=file]{
  cursor: pointer;
  text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin-inline: 10%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

  input[type=file]::file-selector-button{
    background-color: #15588E;
    box-sizing: border-box;
    border: 3px solid #15588E;
    border-radius: 20px;
    font-family: 'Roboto';
    font-weight: 200;
    color: #ffffff;
    cursor: pointer;
  }

  input[type=file]::file-selector-button:hover{
    background-color: #1b74bd;
    box-sizing: border-box;
    border: 3px solid #1b74bd;
    border-radius: 20px;
    font-family: 'Roboto';
    font-weight: 200;
    color: #ffffff;
    cursor: pointer;
  }
