<body>
  <div class="message-box good" *ngIf="showMessage && goodResponse && !badResponse" (click)="onMessageClick()">
    <div class="message-text">
      {{message}}
    </div>
    <div class="close-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-x-lg"
        viewBox="0 0 16 16">
        <path
          d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
      </svg>
    </div>
  </div>
  <div class="message-box bad" *ngIf="showMessage && !goodResponse && badResponse" (click)="onMessageClick()">
    <div class="message-text">
      {{message}}
    </div>
    <div class="close-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-x-lg"
        viewBox="0 0 16 16">
        <path
          d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
      </svg>
    </div>
  </div>

  <div>

    <div class="wrapper">
      <div class="list" id="scroll">
        <div class="Text2 sticky">
          <form [formGroup]="search" (ngSubmit)="findAttractions(place.value)">
            <input style="
              border-radius: 30px;
              font-family: 'Roboto';
              font-weight: 300;
              font-size: 25px;
              text-align: center;
              background-color: #ffffff;
              border: 3px solid #e6e6e6;
              width: 90%;
              height: 50px;
              box-sizing: border-box;
              outline: none;" formControlName="place" type="text" placeholder="Wpisz miasto">
          </form>
        </div>
        <hr>
        <div class="Text2" *ngFor="let attraction of attractionList">
          <div class="link selected" *ngIf="selectedAttractions.includes(attraction)"
            (click)="onAttractionRemove(attraction)">
            {{attraction.name}}
          </div>

          <div class="link" *ngIf="!selectedAttractions.includes(attraction)" (click)="onAttractionAdd(attraction)">
            {{attraction.name}}
          </div>
          <hr>
        </div>
      </div>


      <div class="map">
        <agm-map [latitude]="51.9189046" [longitude]="19.1343786" [zoom]="6.7">
          <div *ngFor="let marker of selectedAttractions">
            <agm-marker [latitude]="marker.latitude" [longitude]="marker.longitude"></agm-marker>

          </div>
        </agm-map>
      </div>

      <div class="Form" *ngIf="isLoggedIn">
        <form [formGroup]="templateForm" (ngSubmit)="onSubmit()">
          <div class="Form_body">
            <div>
              <input formControlName="name" type="text" placeholder="Wpisz nazwę szablonu"><br>
              <div class="validate" *ngIf="name.invalid && name.touched">
                <small *ngIf="name.errors?.required">Nazwa szablonu jest wymagana</small>
              </div>

              <input formControlName="place" type="text" placeholder="Wpisz miejsce"><br>
              <div class="validate" *ngIf="template_place.invalid && template_place.touched">
                <small *ngIf="template_place.errors?.required">Miejsce jest wymagane</small>
              </div>

              <textarea formControlName="description" type="text" placeholder="Wpisz opis szablonu"></textarea>
              <div class="validate" *ngIf="description.invalid && description.touched">
                <small *ngIf="description.errors?.required">Opis szablonu jest wymagany</small>
              </div>
              <hr>

              <input type="file" multiple (change)="onSelect($event)">
              
              <hr>


              <div class="wrapper3" id="scroll">
                <div class="box" *ngFor="let photo of images" (click)="imageClick(photo)">
                  <div *ngIf="isSelected(photo)">
                    <img class="image selection" [src]="photo" >
                  </div>

                  <div *ngIf="!isSelected(photo)">
                    <img class="image" [src]="photo" >
                  </div>
                </div>              
              </div>
              <hr>
              <button class="Submit_button" type="submit" [disabled]="!selectedFiles || !templateForm.valid">
                Stwórz
              </button>

            </div>
          </div>

        </form>
      </div>

    </div>
    <div class="Text">
      Nie ma miejsca które szukasz?
      <div class="router" routerLink="/home/create_attraction">
        Kliknij tutaj aby dodać nową atrakcję!
      </div>

    </div>
  </div>
  {{templateForm.value | json}}


</body>