<body>
  <div *ngIf="step_1">
    <div class="Text4">
      <button class="button3">
        Wróć
      </button>

      <form [formGroup]="search" (ngSubmit)="findAttractions(place.value)">
        <input style="
          border-radius: 30px;
          font-family: 'Alegreya Sans', sans-serif;
          font-size: 25px;
          text-align: center;
          background-color: #ffffff;
          width: 50%;
          height: 50px;
          border: none;
          box-sizing: border-box;
          outline: none;" formControlName="place" type="text" placeholder="Wpisz miasto aby wyszukać atrakcje">
      </form>

      <button class="button3" type="submit" (click)="onSubmit()" [disabled]="!templateForm.valid" *ngIf="!isSubmit">
        Stwórz
      </button>
    </div>

    <div class="wrapper">
      <div class="list">
        <div class="Text2 sticky">
          Lista atrakcji
        </div>
        <hr>
        <div class="Text2" *ngFor="let attraction of attractionList">
          <div class="link selected" *ngIf="selectedAttractions.includes(attraction)"
            (click)="onAttractionRemove(attraction)">
            {{attraction.name}}
          </div>

          <div class="link to-select" *ngIf="!selectedAttractions.includes(attraction)"
            (click)="onAttractionAdd(attraction)">
            {{attraction.name}}
          </div>
          <hr>
        </div>
      </div>


      <div class="map">
        <agm-map [latitude]="51.9189046" [longitude]="19.1343786" [zoom]="6.7">
          <div *ngFor="let marker of selectedAttractions">
            <agm-marker [latitude]="marker.latitude" [longitude]="marker.longitude"></agm-marker>

          </div>
        </agm-map>
      </div>

      <div class="Form" *ngIf="isLoggedIn">
        <form [formGroup]="templateForm" (ngSubmit)="onSubmit()">
          <div class="Form_body">
            <div *ngIf="!isSubmit">
              <input formControlName="name" type="text" placeholder="Wpisz nazwę szablonu"><br>
              <div class="validate" *ngIf="name.invalid && name.touched">
                <small *ngIf="name.errors?.required">Nazwa szablonu jest wymagana</small>
              </div>
  
              <input formControlName="place" type="text" placeholder="Wpisz miejsce"><br>
              <div class="validate" *ngIf="template_place.invalid && template_place.touched">
                <small *ngIf="template_place.errors?.required">Miejsce jest wymagane</small>
              </div>
  
              <textarea formControlName="description" type="text" placeholder="Wpisz opis szablonu"></textarea>
              <div class="validate" *ngIf="description.invalid && description.touched">
                <small *ngIf="description.errors?.required">Opis szablonu jest wymagany</small>
              </div>
            </div>

            <hr>

            {{templateForm.value | json}}

            <div class="text" *ngIf="isSubmit && !isFailed">
              {{message}}
            </div>
  
            <div class="text validate" *ngIf="isSubmit && isFailed">
              {{message}}
            </div>
          </div>

        </form>
      </div>
      
    </div>
    <div class="Text">
      Nie ma miejsca które szukasz?
      <div class="router" routerLink="/create_attraction">
        Kliknij tutaj aby dodać nową atrakcję!
      </div>

    </div>
  </div>


</body>