html {
    background-color:  #7c90a0;
  }
  
  body {
    background-color:  #7c90a0;
    margin: 0;
    padding: 0;
    font-family: arial, verdana, sans-serif;
  }

.Text4 {
  text-align: center;
  background-color: #353535;
  color: #ffffff;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: bold;
  height: 3em;
}

input[type=text], textarea {
  border-radius: 30px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  background-color: #ffffff;
  width: 80%;
  padding: 0.5em 0.75em;
  margin: 0.25em 0;
  box-sizing: border-box;
  border: 3px solid #ded9d5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.Search {
  height: 1.5em;
  margin-inline: auto;
}
textarea {
  height: 8em;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.75fr 1.25fr 1fr;
  width: 80%;
  margin-inline: auto;
  
}


.list {
  background-color: #ded9d5;
  overflow: auto; /* new */
}


.Text2 {
  text-align: center;
  color: #000000;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: bold;
  /* font-style: italic; */
  font-size: 1.5rem;
}


.link {
  cursor: pointer;
}

  .link:hover {
    color: #104169;
  }


.selected {
  color: #104169;
  background-color: #bdb4ae;
  border-radius: 20px;
  width: 80%;
  margin: auto;
  letter-spacing: 2px;
}


.map {
  padding: auto;
  background-color: #bdb4ae;
}

agm-map {
  height: 75vh;
}

.Form {
  margin: auto;
  width: 100%;
}

.Form_body {
  text-align: center;
  vertical-align: middle;
  min-height: 75vh;
  border-radius: 0 0 35px 0;
  background-color: #ded9d5;
}


.validate {
  color: #9e2a2b;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: bold;
  font-size: 1rem;

}

.text {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.75rem;
}



.Submit_button {
  background-color: #4F565C;
  box-sizing: border-box;
  border: 3px solid #4F565C;
  border-radius: 20px;
  font-family: 'Alegreya Sans', sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  color: #ffffff;
  width: 10em;
  height: 2em;
}

  .Submit_button:enabled {
    cursor: pointer;
  }

  .Submit_button:disabled {
    opacity: 50%;
  }

  .Submit_button:active {
    background-color: #104169;
    border: 3px solid #104169;
  }


.Text {
  margin-inline: auto;
  padding: 0.2em;
  text-align: center;
  color: #000000;
  font-family: 'Alata';
  font-size: 1.25rem;
}

.router {
  cursor: pointer;
  transition: color 200ms ease-out 100ms
}

  .router:hover {
    cursor: pointer;
    color: #104169;
    text-decoration-line: underline;
  }

