html {
  height: 100%;
}

body {
  /* height: 55em; */
  /* background: linear-gradient(to bottom, #37323E 10%, #BFBDC1 90%);
    background-attachment:fixed;
    background-repeat: no-repeat; */
  background-color: unset;
  margin: 0;
  padding: 0;
  font-family: arial, verdana, sans-serif;
}

.App_name {
  background-color: #104169;
  margin: auto;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

  .App_name:focus {
    outline: 0;
  }

.Name {
  font-family: 'Alata';
  font-style: italic;
  font-size: 3.75rem;
  color: #ffffff;
}

.validate {
  font-size: 1.2rem;
  color: #9e2a2b;
  font-family: 'Roboto';
  font-weight: 300;
}

.Caption {
  font-family: 'Roboto';
  font-weight: 100;
  margin-left: 0.5em;
  font-size: 1.5rem;
  letter-spacing: 0.33em;
  color: #ffffff;
}

.Spacer {
  border: 2px solid white;
}
.Bottom {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-image: url(http://localhost:8080/images/getBackground);
  background-size: cover;
  background-position: center;
  background-blend-mode: exclusion;
  height: 180vh;
  width: 100%;
  opacity: 60%;
}


.Form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  margin: auto;
  padding-top: 1.5em;
  border-radius: 35px;
  width: 40em;
  max-height: 100%;
}

@media (min-height: 730px) {
  .Bottom {
    height: 130vh;
  }
}

@media (max-width: 830px) {

  .Form {
        width:75%;
  }
}


.Form_title {
  font-family: 'Alata';
  font-size: 2.25rem;
  padding: 0.5em;
  text-align: center;
  background-color: #15588E;
  border-radius: 35px 35px 0 0;
  color: white;
}


.Form_body {
  text-align: center;
  border-radius: 0 0 35px 35px;
  background-color: #E6E6E6;
  padding: 1.25em;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.445);
}

input[type=text], input[type=password], input[type=date] {
  border-radius: 30px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.25rem;
  text-align: center;
  background-color: #ffffff;
  width: 80%;
  padding: 0.6em 0.75em;
  margin: 0.5em 0;
  box-sizing: border-box;
  border: 3px solid #E6E6E6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.Button {
  padding: 0.25em 1.25em;
  margin-top: 0.25em;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 1.5rem;
  color: #ffffff;
  /*text-align: center;*/
}

.Checkboxes {
  padding: 0.1em 0;
  margin-left: 3em;
  text-align: left;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.25rem;
}

.Button:enabled {
  background-color: #15588E;
  box-sizing: border-box;
  border: 3px solid #15588E;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
}

.Button:disabled {
  background-color: #15588E;
  box-sizing: border-box;
  opacity: 50%;
  border: 3px solid #15588E;
  border-radius: 20px;
  color: #ffffff;
}

.Button:active {
  background-color: #15588E;
  border: 3px solid #15588E;
}

.Button:focus {
  outline: 0;
}

.text {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.25rem;
  margin-bottom: 2%;
}

input.ng-invalid.ng-dirty {
  border: 3px solid #9e2a2b;
}
