<body>
    <!-- App name -->
    <div class="App_name" routerLink="/start">
      <div class="Name">Tuziemiec</div>
      <div class="Caption">Spotkajmy się!</div>
    </div>

    <div class ="Form">
        <div class="Form_title">Zarejestruj się!</div>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="Form_body">
                <div *ngIf="!isSubmit">
                    <input formControlName="username" type="text" placeholder="Wpisz nazwę użytkownika" ><br>
                    <div class="validate" *ngIf="username.invalid && username.touched">
                        <small *ngIf="username.errors?.required">Nazwa użytkownika jest wymagana!</small>
                        <small *ngIf="username.errors?.minlength">Nazwa użytkownika musi miec minimum 6 znaków!</small>
                    </div>

                    <input formControlName="firstName" type="text" placeholder="Wpisz swoje imię" ><br>
                    <div class="validate" *ngIf="firstName.invalid && firstName.touched">
                        <small *ngIf="firstName.errors?.required">Imię jest wymagane!</small>
                    </div>

                    <input formControlName="lastName" type="text" placeholder="Wpisz swoje nazwisko" ><br>
                    <div class="validate" *ngIf="lastName.invalid && lastName.touched">
                        <small *ngIf="lastName.errors?.required">Nazwisko jest wymagane!</small>
                    </div>

                    <input formControlName="email" type="text" placeholder="Wpisz adres e-mail" ><br>
                    <div class="validate" *ngIf="email.invalid && email.touched">
                        <small *ngIf="email.errors?.required">Adres e-mail jest wymagany!</small>
                        <small *ngIf="email.errors?.pattern">Adres e-mail ma niepoprawny format!</small>
                    </div>


                    <input formControlName="password"  type="password" placeholder="Wpisz swoje hasło" ><br>
                    <div class="validate" *ngIf="password.invalid && password.touched">
                        <small *ngIf="password.errors?.required">Hasło jest wymagane!</small>
                    </div>

                    <input formControlName="confirmPassword"  type="password" placeholder="Potwierdź swoje hasło" ><br>
                    <div class="validate" *ngIf="confirmPassword.invalid && confirmPassword.touched">
                        <small *ngIf="confirmPassword.errors?.required">Potwierdzenie hasła jest wymagane!</small>
                        <small *ngIf="f.confirmPassword.errors.mustMatch">Hasła nie są takie same!</small>
                    </div>

                    <input formControlName="dayOfBirth"  type="date"><br>
                    <div class="validate" *ngIf="dayOfBirth.invalid && dayOfBirth.touched">
                        <small *ngIf="dayOfBirth.errors?.required">Data urodzenia jest wymagana!</small>
                    </div>
                </div>

                <div class="text" *ngIf="isSubmit && !failedRegister">
                    Zarejestrowano pomyślnie!
                </div>

                <div class="text" *ngIf="isSubmit && failedRegister">
                    <div class="validate">{{errorMessage}}</div>
                </div>
                
                <button *ngIf="!isSubmit" class="Button" type="submit" [disabled]="!registerForm.valid">Zarejestruj się</button>
                <button *ngIf="isSubmit && !failedRegister" class="Button" routerLink="/login">Zaloguj się</button>
                <button *ngIf="isSubmit && failedRegister" class="Button" (click)="reloadPage()" >Spróbuj ponownie</button>
            </div>
        </form>
    </div>


</body>