<body>
    <!-- App name -->
    <div class="App_name">
      <div class="Name">Tuziemiec</div>
      <div class="Caption">Spotkajmy się!</div>
    </div>

    <div class ="Form">
        <div class="Form_title">Zarejestruj się!</div>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="Form_body">
                <input formControlName="userName" type="text" placeholder="Wpisz nazwę użytkownika" ><br>
                <div class="validate" *ngIf="userName.invalid && userName.touched">
                    <small *ngIf="userName.errors?.required">Nazwa użytkownika jest wymagana!</small>
                    <small *ngIf="userName.errors?.minlength">Nazwa użytkownika musi miec minimum 6 znaków!</small>
                </div>

                <input formControlName="firstName" type="text" placeholder="Wpisz swoje imię" ><br>
                <div class="validate" *ngIf="firstName.invalid && firstName.touched">
                    <small *ngIf="userName.errors?.required">Imię jest wymagane!</small>
                </div>

                <input formControlName="lastName" type="text" placeholder="Wpisz swoje nazwisko" ><br>
                <div class="validate" *ngIf="lastName.invalid && lastName.touched">
                    <small *ngIf="lastName.errors?.required">Nazwisko jest wymagane!</small>
                </div>

                <input formControlName="email" type="text" placeholder="Wpisz adres e-mail" ><br>
                <div class="validate" *ngIf="email.invalid && email.touched">
                    <small *ngIf="email.errors?.required">Adres e-mail jest wymagany!</small>
                </div>

                <input formControlName="password"  type="password" placeholder="Wpisz swoje hasło" ><br>
                <div class="validate" *ngIf="password.invalid && password.touched">
                    <small *ngIf="password.errors?.required">Hasło jest wymagane!</small>
                </div>

                <input formControlName="dayOfBirth"  type="date"><br>
                <div class="validate" *ngIf="dayOfBirth.invalid && dayOfBirth.touched">
                    <small *ngIf="dayOfBirth.errors?.required">Data urodzenia jest wymagana!</small>
                </div>

                <button class="Button1" type="submit">Wyślij</button>
            </div>
        </form>
    </div>
</body>