<body>
<div style="width: 100%; display: table;">
        <div style="display: table-row">
    
          <div class="Header">
            <div class="Name">Tuziemiec</div>
            <div class="Caption">Spotkajmy się!</div>
          </div>
    
          <div class="Error" *ngIf="isLoggedIn">
              Profil użytkownika {{userData.username}}
          </div>

          <div class="Error" *ngIf="!isLoggedIn">
              ZALOGUJ SIĘ ŻEBY KORZYSTAĆ Z FUNKCJONALNOŚCI!
          </div>
    
          <div class="Options" *ngIf="isLoggedIn">
            <div>
                <button class="button" routerLink="/main">Strona główna</button>
                <button class="button" routerLink="/" (click)="logout()">Wyloguj się</button>
            </div>
          </div>
           

          <div class="Back_button" *ngIf="!isLoggedIn">
            <button class="button" routerLink="/">Strona główna! </button>
          </div>
    
        </div>
      </div>

<div class="Profile_body" *ngIf="isLoggedIn">
  <div class="Text3">Twój profil</div>

  <div class="inside">
    <b>Imię i nazwisko:</b> {{userData.firstName}} {{userData.lastName}}<br>
    <b>E-mail:</b> {{userData.email}}<br>
    <b>Data urodzenia:</b> {{userData.dayOfBirth}}<br>
    <b>Wiek:</b> {{userData.age}}<br>
  </div>



  <button class="button" (click)="openEditPanel()">
    Edytuj
  </button>


  <div class ="Form" *ngIf="isEditPanelClicked">
    <div class="Text3">Zmień swoje dane</div>
    
    <form [formGroup]="editPersonalDataForm" (ngSubmit)="onSubmit()">
      <div class="Form_body">


        <input formControlName="firstName" type="text" placeholder="Wpisz swoje imię" ><br>
        <input formControlName="lastName" type="text" placeholder="Wpisz swoje nazwisko" ><br>
        <input formControlName="dayOfBirth"  type="date"><br><br>
        <button class="button" type="submit" >Zmień wprowadzone dane</button>
      </div>
    </form>

  </div>

</div>
</body>


