<!-- <div>
    Maps works!
</div> -->
<!-- <div style="width: 100%; display: table;">
    <div style="display: table-row">

      <div class="Header">
        <div class="Name">Tuziemiec</div>
        <div class="Caption">Spotkajmy się!</div>
      </div>

      <div class="Header_text" *ngIf="isLoggedIn">
        Testowanie mapy
      </div>

      <div class="Header_text" *ngIf="!isLoggedIn">
        Zaloguj się aby zobaczyć kontent!
      </div>

      <div class="Options">
        <div>
            <button class="Button" routerLink="/main">Strona główna </button>
        </div>
      </div>
    </div>
</div> -->

<!-- <agm-map [latitude] = 'latitude' [longitude] = 'longitude' [zoom]=7 (mapClick)="onChoseLocation($event)" *ngIf="isLoggedIn">
         <agm-marker 
            [latitude] = 'lat' 
            [longitude] = 'lng' 
            *ngIf="locationChosen"> 
        </agm-marker> 
        <agm-marker [latitude] = 'lat' [longitude] ='lng' [markerDraggable]="true" *ngIf = 'isLocationChosen'>
    
        </agm-marker>
    </agm-map>

{{latitude}}
{{longitude}} -->

<div class="container">

  <h1>Angular Google Maps with Places Search Example</h1>

  <div class="form-group">
    <label>Enter address</label>
    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
  </div>

  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)"></agm-marker>
  </agm-map>

  <h5>Address: {{address}}</h5>
  <div>Latitude: {{latitude}}</div>
  <div>Longitude: {{longitude}}</div>
</div>

