html {
    height: 100%;
  }
  
  body {
    height: 100%;
    /* background: linear-gradient(to bottom, #37323E 10%, #BFBDC1 90%);
    background-attachment:fixed;
    background-repeat: no-repeat; */
    background-color:  #7c90a0;
    margin: 0;
    padding: 0;
    font-family: arial, verdana, sans-serif;
  }

  .jumbotron {
      margin: 0%;
      height: 100%;
      width: 100%;
  }

  .container {
    margin: 0%;
    height: 100%;
    width: 100%;
  }