html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: arial, verdana, sans-serif;
    
  }


  body::-webkit-scrollbar-track
{
  background: #aaa;
}

body::-webkit-scrollbar
{
	width: 8px;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #585858;
}

body::-webkit-scrollbar-thumb:hover
{
	border-radius: 10px;
	background-color: #353535;
}